<div class="container">
    <h1>Selected Restaurant</h1>
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.category %></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item"> Review: <%= review.content %> - Rating: <%= review.rating %></li>
      <% end %>
    </ul>
    <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
    <%= link_to "List of Restos", restaurants_path %>
</div>
