<div class="container">
    <h1>Your review for: <%= @restaurant.name %></h1>
    <%= simple_form_for [ @restaurant, @review ] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, label: "Valid Ratings: 1 to 5" %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
</div>
